<launch>

    <node name="udp_receiver" pkg="message_transformer_cpp" type="udp_receiver" output="screen" respawn="true">
        <param name="port_num" value="43897" />
        <param name="add_tail" value="false"/>
    </node>
    <node name="udp_sender" pkg="message_transformer_cpp" type="udp_sender" output="screen" respawn="true">
        <param name="motion_port" value="43893"/>
        <param name="motion_ip" value="192.168.1.120"/>
        <param name="perception_port" value="43897"/>
        <param name="perception_ip" value="192.168.1.100"/>
        <param name="eth_inf" value="enp2s0"/>
        <param name="navigation_port" value="43897"/>
        <param name="navigation_ip" value="192.168.1.100"/>
    </node>
    <node name="app_port" pkg="message_transformer_cpp" type="app_port" output="screen" respawn="true">
        <param name="port_num" value="43899"/>
        <param name="obstacle_threshold" value="0.8"/>
        <param name="vel_x_limit" value="0.5"/>  
        <param name="vel_y_limit" value="0.3"/>  
    </node>

</launch>
